---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<section class="border-primary/10 mb-4 flex items-center border-b-2 p-1">
  <h1 class="text-xl font-bold capitalize">{title}</h1>
</section>
