---
type Props = {
  responsive?: boolean;
};

const { responsive = false } = Astro.props;
---

<div
  class:list={[
    "divider divider-horizontal m-0 h-1",
    responsive ? "hidden lg:flex" : "",
  ]}
>
</div>
