<section
  class="bg-base-content text-base-100 relative h-8 w-full"
  data-pagefind-ignore="all"
>
  <div class="bg-info absolute top-0 left-0 z-10 flex h-full items-center px-2">
    <h2 class="font-sans text-sm font-semibold">
      <span class="hidden lg:inline">Breaking News</span>
      <span class="inline lg:hidden">News</span>
    </h2>
  </div>
</section>
