---
import { getEntry } from "astro:content";
import ListLayout from "@/layouts/list.astro";

const entry = await getEntry("views", "contact");

if (!entry) {
  return Astro.redirect("/404");
}

const [HEADER] = entry.data.blocks;
---

<ListLayout header={HEADER.title} entry={entry}>
  <section class="grid grid-cols-1 gap-6 md:grid-cols-1 lg:w-2/3">
    <div>
      <p>
        For all inquiries, including general questions, feedback, editorial
        matters, advertising, and partnership opportunities, please contact us
        at:
      </p>
    </div>
    <div>
      <a
        class="link link-hover mt-440"
        href="mailto:beyondthefoggate@gmail
      .com"
        >beyondthefoggate@gmail.com ↗</a
      >
    </div>
    <div>
      <p>We read every message and will get back to you as soon as we can.</p>
    </div>
    <!-- 
    <div>
      <h2 class="text-lg">Editorial Inquiries</h2>
      <p>Topic Ideas, Feedback, Corrections or Suggestions</p>
      <a class="link link-hover" href="mailto:beyondthefoggate@gmail
      .com"
        >beyondthefoggate@gmail.com</a
      >
    </div> -->
  </section>
</ListLayout>
