---
import { getEntry } from "astro:content";
import ListLayout from "@/layouts/list.astro";

const entry = await getEntry("views", "contact");

if (!entry) {
  return Astro.redirect("/404");
}

const [HEADER] = entry.data.blocks;
---

<ListLayout header={HEADER.title} entry={entry}>
  <section  class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:w-2/3">
    <div>
      <h2 class="text-lg">General Inquiries</h2>
      <p>General Information, Feedback, Suggestions</p>
      <a class="link link-hover" href="mailto:general@grandparadise.com">general@grandparadise.com</a>
    </div>
    <div>
      <h2 class="text-lg">Partnership Opportunities</h2>
      <p>Brand Specific Advertising, PR & Commercial Opportunities</p>
      <a class="link link-hover" href="mailto:general@grandparadise.com">general@grandparadise.com</a>
    </div>
    <div>
      <h2 class="text-lg">Advertising</h2>
      <p>Display Advertising, & Direct Campaigns</p>
      <a class="link link-hover" href="mailto:general@grandparadise.com">general@grandparadise.com</a>
    </div>
    <div>
      <h2 class="text-lg">Editorial Inquiries</h2>
      <p>Topic Ideas, Feedback, Corrections or Suggestions</p>
     <a class="link link-hover" href="mailto:general@grandparadise.com">general@grandparadise.com</a>
    </div>
 </section>
</ListLayout>
