---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Divider from "@/components/bases/divider.astro";
import { render } from "astro:content";
import { getDateDistance } from "@/lib/utils/date";
import { categoriesHandler } from "@/lib/handlers/categories";

type Props = {
  article: CollectionEntry<"articles">;
  isFirst?: boolean;
  isLast?: boolean;
};
const { article, isLast, isFirst } = Astro.props;

const { remarkPluginFrontmatter } = await render(article);
const category = categoriesHandler.oneCategory(article.data.category.id);
---

<article
  class:list={[
    "group group relative isolate flex items-start gap-2 py-2",
    isFirst ? "pt-0" : "pt-2",
    isLast ? "border-b-0 pb-0" : "border-base-300 border-b",
  ]}
>
  <div class="w-[135px] shrink-0 overflow-hidden pr-2">
    <Image
      src={article.data.cover}
      alt={article.data.covert_alt
        ? article.data.covert_alt
        : article.data.title}
      loading="eager"
      widths={[120, 320]}
      layout="constrained"
      position="top"
      class="h-full w-full rounded object-cover"
    />
  </div>

  <div class="flex flex-col justify-start">
    <span class="mb-1 text-sm lg:group-hover:underline">
      <a href={`/articles/${article.id}`}>
        <span class="pointer-events-none absolute inset-0 z-10 text-xs"></span>
        {article.data.title}
      </a>
    </span>
  </div>
</article>
